.jumbo_container
  .row
    .large-8.small-8.small-offset-2.large-offset-2.columns.jumbo
      %h1 Find your perfect act now!
      %p Whether it's a band, a clown, a mime, a ballerina, fire-breather, find it here.
      = form_tag acts_path, method: :get do
        = text_field_tag :query, params[:query], placeholder: 'type your act here', class: 'expand', id: 'search'
        = submit_tag 'Search', class: 'button radius'


.info_container
  .row.info
    .large-4.columns
      %div.homeimage
        <img src="assets/search.png" />
      %h2 Find your act
      %p We make it easy to find just the act your looking for. With a huge selection of acts, spanning the full width of the entertainment field, we guarantee that you won't be dissapointed by what you find.

    .large-4.columns
      %div.homeimage
        <img src="assets/paper-plane.png" />
      %h2 Make your offer
      %p We make communicating your proposal with the act a breeze. Just submit a proposal directly to the act and your done. Really, that's it.

    .large-4.columns
      %div.homeimage
        <img src="assets/crest.png" />
      %h2 Get your act
      %p Enjoy the dream event with the perfect act. We ensure that both the act and the bookee get exactly what they want. So what are you waiting for. Get booking.
