@import "bootstrap";

$clouds: #ECF0F1;
$blue: #3498DB;
$dark_blue: #34495E;

p{
  line-height: 1.5;
  font-size: 16px;
}
/* HEADER */
.bookd{
  font-weight: 800;
  color: $blue;
  font-size: 40px;
  vertical-align: center;
  margin-top: 4;
  line-height: 1;
  &:hover{
    text-decoration: none;}
}

.btn{
  a{
  color:white;
  &:hover{
      text-decoration:none;
      color: $clouds;
    }
  }
}

.head{
  &:hover{
    background-color: $clouds;
  }
}


/* Main marketing message and sign up button */

.searchit {
  // background-color: $clouds;
  margin-bottom: 40px;
}
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  text-align: center;
}

input.big-search{
  width: 500px;
  height: 40px;
  font-size: 20px;
}
// input[type=search]{
//   height: 40px;
// }

// .input-large{
//   width: 500px;
// }



