@import 'foundation-social-web-icons';
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff') format('woff'),
       url('fonts/fontello.ttf') format('truetype'),
       url('fonts/fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4.1em;
background-color: #ECF0F1;
}
#footer, .push {
height: 4.1em;
}
.push{
  clear: both;
}
#footer {
    text-align: center;
    background-color: #2A3C4E;
    p{
      margin-bottom: 1em;
      color: white;
    }
    .row{
      position: relative;
      top: 17px;
      // padding-top: 18px;
      background-color: #2A3C4E;
    }
}

.top-bar{
  margin-bottom: 0px;
}

.logo{
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
}

.jumbo_container{
  margin-top: -30px;
  background-color: #F39C12;
  padding-bottom: 20px;
  padding-top: 20px;

}

.homeimage{
  height: 150px;
}

.info_container{
  padding-top: 20px;
  background-color: #1ABC9C;
}

.jumbo{
  text-align: center;
  input{
    text-align: center;
    font-size: 20px;
  }
  h1{
    font-size: 3em;
  }
}

.info{
  text-align: center;
}

.img-circle{
  border-radius: 70px;
}

.form_title{
  padding-left: 0.42em;
}

.push_it{
  padding-top: 40px;
}

.show_act_info{
  max-height: 240px;
  p{
    font-size: 20px;
  }
}



.more_info{

}

.show_act{
  padding-bottom: 15px;
  .button{
    width: 100%;
    max-width: 320px;
  }
}

.search_act{
  padding-left: 29px;
  input{
    font-size: 20px;
  }
}

.show_act_info{
  line-height: 1em;
}

.filter_act{

}

.show_margin{
  padding-left: 36px;
}

.show_content{
  margin-top: -0.5em;
}

.button_left{
  margin-left:45px;
  width: 160px;
}

.pad_button{
  margin-top: 10px;
}

.fotorama{
  padding-bottom: 10px;
}


