#footer
  .row

    %p.large-4.columns
      &copy; 2013 Bookd.me. All rights reserved
    .large-4.columns
      %a{:href => "#", class: 'fc-webicon facebook'}
      %a{:href => "#", class: 'fc-webicon twitter'}
      %a{:href => "#", class: 'fc-webicon googleplus'}
    .large-4.columns
      = link_to 'Contact Us', contact_path, class: 'button small'

= javascript_include_tag "application"
= filepicker_js_include_tag

= yield :extra_footer

%script{:src => "//use.typekit.net/oos0lgi.js", :type => "text/javascript"}
:javascript
  try{Typekit.load();}catch(e){}
:javascript
  $("#cssmenu ul").on("click", "li", function() {
      var $this = $(this);
      $this.addClass("active")
           .siblings().removeClass("active");
  });
:javascript
  $(function() {
    $('.datepicker').pickadate();
    $('.timepicker').pickatime();
  })
