<div id='header' class='navbar navbar-top'>
  <div class="navbar-inner">
    <div class="container container-full-width">
      <%= link_to 'Bookd.me', root, {:class => logo, bookd} %>
    </div>
  </div>
</div>