.container
  %h1 Some awesome acts
  %table
    %tr
      %th Name
      %th Short Bio
      %th
      %th

    - @acts.each do |act|
      %tr
        %td= act.name
        %td= act.short_bio
        %td= image_tag(act.avatar.url(:profile))
        %td
          = link_to 'View act', act

  %br/

